@import '../../../theme/styles/__var';

.burgerBtn {
  display: flex;
  flex-direction: column;
  height: 30px;
  gap: 8px;
  overflow: hidden;
  justify-content: center;
  vertical-align: center;
  align-items: center;
  width: 35px;
}

.burgerLines {
  border-top: 2px solid $greenColor;
  width: 30px;
  transition: 0.5s ease all;
}

.activeTopLine {
  transform: rotate(45deg) translateY(7px) translateX(7px);
  width: 35px;
}
.activeMiddleLine {
  transform: translateX(-35px);
}
.activeBottomLine {
  transform: rotate(-45deg) translateY(-7px) translateX(7px);
  width: 35px;
}