//$mainColor: #191926;
$mainColor: #141418;
//$secondaryColor: #1e2035;
$secondaryColor: #1f1f25;
//$redColor: #d3375d;
$redColor: #ff0054;
//$yellowColor: #efa541;
$purpleColor: #842fcf;
//$greenColor: rgb(7, 247, 99);
$greenColor: rgb(21, 232, 101);
$blueColor: #4c85cd;
//$textColorGray: #b7b7b7;
$textColorGray: #cccccc;
$textColorWhite: #fff76ff;

//$lightRedColor: rgb(204, 68, 99);
$lightRedColor: #ff417c;
//$orangeColor: #d98a21;
$orangeColor: #ffc300;
//$lightGreenColor: #17a64e;
$lightGreenColor: rgb(21, 232, 101);
//$lightGreenColor: #70e000;