.imagePreview {

  &__wrapper {
    display: flex;
    justify-content: space-between;
    vertical-align: center;
    align-items: center;
    padding-bottom: 40px;
  }

  &__cropWrapper {
    max-width: 45%;
  }

  &__canvasWrapper {
    display: flex;
    width: 45%;
    justify-content: center;
    vertical-align: center;
    align-items: center;
  }

  &__canvas {
    object-fit: contain;
    width: 100%;
    height: 350px;
  }
}