@import '../../../theme/styles/__var';

.form{
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__input {
    width: 100%;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid $greenColor;
    color: $textColorGray;
    outline: none;
  }

  &__error {
    color: $lightRedColor;
    margin: 0;
  }


  &__button {
    background-color: inherit;
    border: 1px solid $greenColor;
    color: $greenColor;
    padding: 5px;
    &:hover {
      cursor: pointer;
    }
  }
}